<footer class="mt-5 pt-5">
  <div class="container w-100">
    <div class="row">
      <div class="col-md-6">
        <strong>CONTACT</strong>
        <table class="table table-sm">
          <tr>
            <td>email:</td>
            <td>tjuyxl@gmail.com</td>
          </tr>
          
        </table>
        <p class="text-muted">
          Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}
        </p>
      </div>
      <div class="col-md-6">
        <strong>CONTACT</strong>
        <table class="table table-sm">
          <tr><td><a target="_blank" href="https://github.com/softtwilight">Github</a></td></tr>
        </table>
      </div>
    </div>
  </div>  
</footer>