<footer class="mt-5 pt-5">
  <div class="container w-200">
    <div class="row">
      <div class="col-md-6">
        <strong>这里找到我</strong>
        <table class="table table-sm">
          <tr>
            <td>email:</td>
            <td>12140813hzr@gmail.com</td>
          </tr>
          <tr>
            <td>微信公众号:</td>
            <td>TernuraR</td>
          </tr>
          <tr>
            <td>微博:</td>
            <td>一只奇儿</td>
          </tr>
          <tr>
            <td>豆瓣:</td>
            <td>小豆鸽</td>
          </tr>
        </table>
        <p class="text-muted">
          Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}
        </p>
      </div>
    </div>
  </div> 
</footer>