<div class="d-flex flex-column font-weight-bold jumbotron justify-content-center animated fadeIn p-0" id="jumbotron">
  <div id="blurBox" class="p-4 text-center">
    <p class="text-white animated delay-2s fadeInDown m-x   0">Welcome to my blog! </p>
    <p class="animated delay-1s fadeInDown font-weight-normal pt-4 text-white m-4" style="font-size:26px">
      I hear and I forget, I read and I remember, I write and I understand.
    </p>

    <!-- <p class="lead m-0">
      <a class="btn-sm btn-light animated delay-2s fadeInUp" href="about.html#archivelist" role="button">About me</a>
    </p> -->
  </div>
</div>